In [1]:
import numpy as np
import sqlite3
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

In [9]:
con = sqlite3.connect("baseline_v4.2_10yrs.db")
df = pd.read_sql("select scheduler_note from observations;", con)
con.close()

In [10]:
df

               scheduler_note
0        twilight_near_sun, 0
1        twilight_near_sun, 0
2        twilight_near_sun, 0
3        twilight_near_sun, 0
4        twilight_near_sun, 0
...                       ...
2015184        pair_33, ri, a
2015185        pair_33, ri, a
2015186        pair_33, ri, a
2015187        pair_33, ri, a
2015188        pair_33, ri, a

[2015189 rows x 1 columns]

In [11]:
new_note = [note.split(",")[0] for note in df["scheduler_note"]]

In [12]:

unote = np.unique(new_note)
unote

array(['DD: RGES_offseason', 'DD: RGES_onseason', 'DD:COSMOS', 'DD:ECDFS',
       'DD:EDFS_a', 'DD:EDFS_b', 'DD:ELAISS1', 'DD:XMM_LSS', 'ToO',
       'blob_long', 'greedy', 'long', 'pair_15', 'pair_33',
       'twilight_near_sun'], dtype='<U18')

In [13]:
count_dict = {}
for key in unote:
    count_dict[key] = 0

for note in new_note:
    count_dict[note] += 1

In [14]:
count_dict

{'DD: RGES_offseason': 874,
 'DD: RGES_onseason': 966,
 'DD:COSMOS': 45553,
 'DD:ECDFS': 23714,
 'DD:EDFS_a': 11821,
 'DD:EDFS_b': 11761,
 'DD:ELAISS1': 22778,
 'DD:XMM_LSS': 23298,
 'ToO': 23209,
 'blob_long': 58446,
 'greedy': 124046,
 'long': 26375,
 'pair_15': 222361,
 'pair_33': 1363145,
 'twilight_near_sun': 56842}

In [8]:
# baseline
count_dict

{'DD: RGES_offseason': 877,
 'DD: RGES_onseason': 970,
 'DD:COSMOS': 45671,
 'DD:ECDFS': 23798,
 'DD:EDFS_a': 11876,
 'DD:EDFS_b': 11839,
 'DD:ELAISS1': 22828,
 'DD:XMM_LSS': 23304,
 'ToO': 23372,
 'blob_long': 58072,
 'greedy': 127853,
 'long': 26011,
 'pair_15': 208627,
 'pair_33': 1371917,
 'twilight_near_sun': 56505}